body{

    background-color: gray;
}

#title, .subtitle, .post_title {
    color: blue;
}

.post_title {
    font-size: 16;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background-color: rgb(145, 43, 230);
    padding: 10px 15px 5px 0;
    border: 3px solid blue;
    border-top: 1px dashed black;
    border-right: 2px solid green;
    border-radius: 4px;
    margin: 0;
    margin-bottom: 15px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
}