body{

    background-color: rgba(255, 246, 246, 0.836);
    font-family: Verdana;
    width: 900px;
    margin: auto;
    max-width: 900px;
}

#title, .subtitle, .post_title {
    color: rgba(44, 43, 43, 0.938);
}

.post_title {
    font-size: 16;
    font-style: italic;
    margin: 0;
    margin-bottom: 18px;
    text-transform: uppercase;
}

.post {
    background-color: rgb(195, 190, 199);
    padding: 10px 15px 5px 5px;
    border: 3px solid rgb(126, 126, 133);
    border-top: 1px dashed rgb(141, 135, 135);
    border-right: 2px solid rgb(119, 122, 119);
    border-radius: 4px;
    margin: 0;
    margin-bottom: 15px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-align: left;
}

.post_img {
    margin-bottom: 15px;
    width: 100%;
}

.picture {
    border-radius: 50%;
    border: 1px;
    border-color: rgba(44, 43, 43, 0.938);
}

a {
    text-decoration: underline;
    color: rgba(44, 43, 43, 0.938);
}

.footer {
    font-size: 13px;
    font: gray;
    margin-left: 0px;
    font-family: Verdana;
}

ul {
    list-style-image: ;
    padding-left: 15px;
}